.App {
  text-align: center;
}

.cornerAvatar {
  position: absolute;
  left: 540px;
  bottom: 1vw;
}
.cornerNotif {
  position: absolute;
  left: 470px; 
  top: 11px;
}
.cornerMail {
  position: absolute;
  left: 450px;
  top: 11px;
} 

.searchBar {
  position: absolute;
  left: 200px;
  width: 750px;
  margin-top: auto;
  margin-bottom: auto; 
}

.fiveStars{
  align-items: center;
}

.container {
  height: 675px;
  width: 250px;
  display: grid;
  grid-template-columns: max-content max-content;
  grid-auto-rows: 50px;
  background-color: #f2f2f2;
  padding: 25px;
}

.box1 {
  text-align: right;
}

.box2 {
  text-align: left;
  padding: 3px;
  padding-left: 25px;
}

.box3 {
  text-align: left;
  padding-left: 25px;
}

.emptySpacing {
  width: 125px;
  height: 50px;
}

.rightBar {
  height: 675px;
  width: 280px;
  text-align: left;
  position: absolute;
  left: 1170px;
  top: 64px;
  background-color: #f2f2f2;
  padding-left: 10px;
}
.onlineUsers {
  left: 200px;
}

.imageListPad {
  padding-left: 25px;
}

.bottomPadRemove {
  padding: 0;
  margin: 0;
}

.convoGrid {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-auto-rows: max-content;
}

.removePadding {
    margin: 0;
    padding: 0;
    width: 200px;
    padding-bottom: 5px;
}

.boldText {
  font-weight: 500;
}

.shrinkText {
  font-weight: 350;
}